<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Novo Usuario</title>
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/sapecss.css"/>
	<link rel="stylesheet" type="text/css" href="/css/sapeAdmin.css"/>
</head>
<body>


	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  <div th:replace="/header :: header"></div>
	  <div class="mdl-layout__drawer">
	    <span class="mdl-layout-title">Regionais</span>
	    <nav class="mdl-navigation">
	      <a class="mdl-navigation__link" href="">Link</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Califórnia</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Campo Novo</a>
      	  <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Campo Velho</a>
    	  <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Centro</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Cipó dos Anjos</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Custódio</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Dom Maurício</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">José Jucá</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Juá</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Juatama</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Nemésio Bezerra</a> 
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Riacho Verde</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">São João</a> 
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">São João dos Queiroz</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Tapuiará</a> 
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Várzea da Onça</a>
	    </nav>
	  </div>
	  <main class="mdl-layout__content">
	    <div class="page-content"><!-- Your content goes here -->
	 	<div class="col-md-2"></div>
	 	<div class="col-md-4 SAPE_divFormLayout">
		 	<form action="#" th:action="@{/admin/addUser}" th:object="${usuario}" method="post" id="UserForm">
		 	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    			<input class="mdl-textfield__input" type="text" id="email" th:field="*{email}" required="required"> </input>
    			<label class="mdl-textfield__label" for="email" >Email:</label>
			  </div>
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    			<input class="mdl-textfield__input" type="password" id="senha" th:field="*{senha}" required="required"> </input>
    			<label class="mdl-textfield__label" for="senha">Senha:</label>
    		  </div>
    		  
    			<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="profCoordLEI">
  					<input type="checkbox" id="profCoordLEI" name="radio" class="mdl-checkbox__input"  th:field="*{isProfCoordenadorLei}" th:value="1" ></input>
  					<input type="hidden" id="profCoordLEI_" name="radio" class="mdl-checkbox__input" th:field="*{isProfCoordenadorLei}" th:value="0" ></input>    					 
  					<span class="mdl-checkbox__label">É Professor-Coordenador LEI?</span>
				</label>
				<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="isAdmin">
   					<input type="checkbox" id="isAdmin" name="radio" class="mdl-checkbox__input" th:field="*{isAdmin}" th:value="1"></input>
   					<input type="hidden" id="isAdmin_" name="radio" class="mdl-checkbox__input" th:field="*{isAdmin}" th:value="0"></input>
   					<span class="mdl-checkbox__label">É Administrador?</span>
  				</label>
  				<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="isProfessor">
   					<input type="checkbox" id="isProfessor" name="radio" class="mdl-checkbox__input" th:field="*{isProfessor}" th:value="1"></input>
   					<input type="hidden" id="isProfessor_" name="radio" class="mdl-checkbox__input" th:field="*{isProfessor}" th:value="0"></input>
   					<span class="mdl-checkbox__label">É Professor?</span>
  				</label>
				
  			    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" title="Adicionar"></input>
  			    	
			</form>
		 	
		</div>
		
        	
	    </div>
	  </main>
	</div>
	<!-- Scripts -->
	<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/js/sapeAdmin.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</body>

</html>