<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8"></meta>
	<title>Home Admin</title>
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/sapecss.css"/>
	<link rel="stylesheet" type="text/css" href="/css/sapeAdmin.css"/>
</head>
<body>


	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  <div th:replace="/header :: header"></div>
	  <div class="mdl-layout__drawer">
	    <span class="mdl-layout-title">Regionais</span>
	    <nav class="mdl-navigation">
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Califórnia</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Campo Novo</a>
      	  <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Campo Velho</a>
    	  <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Centro</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Cipó dos Anjos</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Custódio</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Dom Maurício</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">José Jucá</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Juá</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Juatama</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Nemésio Bezerra</a> 
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Riacho Verde</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">São João</a> 
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">São João dos Queiroz</a>
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Tapuiará</a> 
	      <a class="mdl-navigation__link mdl-js-ripple-effect" href="">Várzea da Onça</a>
	    </nav>
	  </div>
	  <main class="mdl-layout__content">
	    <div class="page-content"><!-- Your content goes here -->
	    	<!-- Nenhuma escola encontrada mostra mensagem -->
	    	<div th:if="${session.erroRmUser}">
           		<div class="alert alert-danger" role="alert">
  					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
 					<span class="sr-only">Error:</span>
 					 Usuário não foi removido.
				</div>
        	</div>
        <div th:if="${erroAdd}">
       		<div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only" th:text="${erroAdd}">Error:</span>
				<div th:text="${erroAdd}"></div>
			</div>
        </div>
        <!-- 
	 	Bem vindo <span th:utext="${session.usuario.email}"></span>
	 	<br></br>
	 	Logged user: <span th:text="${#authentication.name}"></span> 
	 	<br></br>
		Roles: <span sec:authentication="principal.authorities"></span>
	 	<br></br>
	 	 -->
	 	<div>Usuários do Sistema:</div>
	 	<div class="col-md-2"></div>

	 	<div class="col-md-6">
		 	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp SAPE_amdUsrTable">
			  <thead>
			    <tr>
			      <th id="tt1">Ação:</th>
					<div class="mdl-tooltip mdl-tooltip--large" for="tt1">
						Alterar ou Excluir Usuarios
					</div>
			      <th>Id Unico</th>
			      <th>Email</th>
			      <th id="tt2">Coodenador do LEI?</th>
			      <div class="mdl-tooltip mdl-tooltip--large" for="tt2">
						Indica se é Professor-Coodenador do LEI.
					</div>
			      <th id="tt3">Administrador?</th>
			      	<div class="mdl-tooltip mdl-tooltip--large" for="tt3">
						Indica se possui privilégios de administração.
					</div>
			      <th id="tt4">é Professor?</th>
			      <div class="mdl-tooltip mdl-tooltip--large" for="tt4">
						Se for professor, passar o mouse em cima irá mostrar o nome e a escola.
				  </div>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="usuario : ${session.listaUsuarios}">
			      <td>
			      	<button th:id="'btnEditarUsr' + ${usuario.idUsuario}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" disabled="disabled" >
						<i class="material-icons md-18 azul">edit</i>
					</button>
					<div class="mdl-tooltip" th:for="'btnEditarUsr' + ${usuario.idUsuario}">
						Alterar o usuário.
				  	</div> - 
			      	<button th:id="'btnExcluirUsr' + ${usuario.idUsuario}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" th:onclick="'javascript:excluirUsuario(\'' + ${usuario.idUsuario} + '\');'" >
	  					<i class="material-icons md-18 laranjabizarro">remove</i>
					</button>
					<div class="mdl-tooltip" th:for="'btnExcluirUsr' + ${usuario.idUsuario}">
						Excluir o usuário.
				  	</div>
				  </td>
			      <td th:text="${usuario.idUsuario}">1</td>
			      <td th:text="${usuario.email}">exemplo@email.com</td>
			      <td>
			      	<span th:if="${usuario.isProfCoordenadorLei==1}">Sim</span>
			      	<span th:if="${usuario.isProfCoordenadorLei!=1}">Não</span>
			      </td>
			      <td>
			      	<span th:if="${usuario.isAdmin==1}">Sim</span>
			      	<span th:if="${usuario.isAdmin!=1}">Não</span>
			      </td>
			      <td>
			      	<span th:if="${usuario.isProfessor==1}">Sim</span>
			      	<span th:if="${usuario.isProfessor!=1}">Não</span>
			      </td>
			      
			    </tr>
			  </tbody> 
			</table>
		</div>
		<div class="col-md-2">
			<a href="/admin/newUserForm">
				<button id="btnAddUsuario" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab  SAPE_admAddButton">
	  				<i class="material-icons md-18 verde">add</i>
				</button>
				<div class="mdl-tooltip" for="btnAddUsuario">Novo Usuário</div>   
        	</a>
        </div>
	    </div>
	  </main>
	</div>
	<!-- Scripts -->
	<script type="text/javascript" th:src="@{/js/sapeAdmin.js}"></script>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</body>
</html>