.SAPE_admAddButton{
	float: right;
}

.SAPE_amdUsrTable{
	margin: 10px;
	float: right;
	min-height: 500px;
	width: 700px;
	border: 1px;
	padding: 16px;
}

.SAPE_admButton{
	margin: 10px;
	
}
.SAPE_divFormLayout{
	border-style: ridge;
	border-radius: 10px;
	margin-top: 16px;
	padding-top: 16px;
	padding: 16px;
	margin: 4px;
	background-color: #e8ffef;
	
	
}