.demo-card-wide.mdl-card {
	width: 512px;
	margin-left: 10px;
}
.demo-card-wide > .mdl-card__title {
	color: #0066ff;
	height: 176px;
	/*background: url('../img/Logo.png') center / cover;*/
}
.demo-card-wide > .mdl-card__menu {
	color: #0066ff;
}