.SAPE_nav1{
	background-color:#B0BEC5;
	color: white;
	text-align: center;
	font-family: Tahoma;
}
.SAPE_p1{
	color: white;
	text-align: center;
	font-family: Tahoma;
}
.SAPE_ul1{
	background-color: #B0BEC5;
	padding-color: #white;
}
.SAPE_divLateral{
	padding: 16px;
	border-style: inherit;
	
}
.SAPE_div1{
	padding: 16px;
	font-family: Tahoma;
	text-align: left;
	color: black;
}
.SAPE_imgLogo{
	width: 150px;
	height: 60px;
}
.SAPE_divLogin{
	padding: 16px;
	margin: 16px;
	border: 1px;
}
.SAPE_usrList{
	margin: 10px;
}
.material-icons.laranjabizarro { color: #ff3300; }
.material-icons.azul { color: #0066ff; }
.material-icons.verde { color: green; }