<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/layoutBase">
<head>	
	<title>Inicio</title>
</head>

<section layout:fragment="content">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	 
	  <main class="mdl-layout__content container-fluid ">
	    <div class="page-content">
	    <!-- Your content goes here -->
		   
		</div>
	  </main>
	</div> 		

</section>
</html>