<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="description" content="Free Web tutorials"/>
	<meta name="keywords" content="HTML,CSS,XML,JavaScript"/>
	<meta name="Robson Cavalcante" content="SMEQX"/>
	<title>SAPE-ADMIN</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
	
</head>
<body>
	<div class="jumbotron"></div>

	<script type="text/javascript" src="angular/angular.js"></script>
	<script type="text/js" src="bootstrap/js/bootstrap.js"></script>
	
	<h1 th:inline="text">Ola!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
    </form>
</body>
</html>