<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="description" content="Sistema de Acompanhamento de Projetos Educacionais"/>
	<meta name="keywords" content="HTML,CSS,XML,JavaScript"/>
	<meta name="Robson Cavalcante" content="SMEQX"/>
	<title>SAPE-HOME</title>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sapecss.css"/>
    
</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  <div th:replace="/header :: header"></div>
	  <main class="mdl-layout__content">
	    <div class="page-content">
	    	<!-- Your content goes here -->
	    	<!-- mensagem de erro -->
	    	<div th:if="${session.erroRmAluno}">
           		<div class="alert alert-danger" role="alert">
  					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
 					<span class="sr-only">Error:</span>
 					 Aluno não foi removido
				</div>
        	</div>
        	<!-- fim da mensagem de erro -->
        	<!-- mensagem de erro -->
	    	<div th:if="${session.erroAddAluno}">
           		<div class="alert alert-danger" role="alert">
  					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
 					<span class="sr-only">Error:</span>
 					 Aluno não foi adicionado
				</div>
        	</div>
        	<!-- mensagem de erro -->
	    	<div th:if="${session.erroProfessorInvalido}">
           		<div class="alert alert-danger" role="alert">
  					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
 					<span class="sr-only">Error:</span>
 					 Professor sem autorização
				</div>
        	</div>
        
	    	<!-- Regional Selecionada -->
	    	<div th:if="${session.regional} != null">
        		 <div class="alert Alert-info SAPE_divRegionalNome" role="alert">
 						 <h3 th:text="${session.regional.nome}" ></h3>
				</div>
        	</div>
	    	<!-- Nenhuma escola encontrada mostra mensagem -->
	    	<div th:if="${session.erroGetAlunos}">
           		<div class="alert alert-danger" role="alert">
  					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
 					<span class="sr-only">Error:</span>
 					 Nenhum Aluno encontrado nesta escola
				</div>
        	</div>
   			<div class="col-md-2"></div>
	    	<div class="col-md-6 SAPE_amdUsrTable">
	    		<!-- Table Escolas -->
	    		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp ">
				  <thead>
				    <tr>
				    	<th id="tt1"></th>
				      <th id="tt1">id Único</th>
				      <th id="tt2">Nome Aluno</th>
				    </tr>
				  </thead>
				  <tbody>
				  	 <tr th:each="aluno : ${session.ArrayAlunos}">
				      <td>
				      	<button th:id="'btnEditarAluno' + ${aluno.idAluno}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" disabled="disabled" >
							<i class="material-icons md-18 azul">edit</i>
						</button>
						<div class="mdl-tooltip" th:for="'btnEditarAluno' + ${aluno.idAluno}">
							Alterar Aluno
					  	</div> - 
				      	<button th:id="'btnExcluirAluno' + ${aluno.idAluno}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" th:onclick="'javascript:excluirAluno(\'' + ${aluno.idAluno} + '\');'" >
		  					<i class="material-icons md-18 laranjabizarro">remove</i>
						</button>
						<div class="mdl-tooltip" th:for="'btnExcluirAluno' + ${aluno.idAluno}">
							Excluir Aluno
						</div>
					  	</td>
					  	<td th:text="${aluno.idAluno}"></td>
				      	<td th:text="${aluno.nome}"></td>
				    </tr>
				  </tbody>
				</table>
				<!-- End table Aluno -->
			</div>
			<!-- button add Aluno -->
			<div class="col-md-4">
			 	<div class="col-2-md-4 jumbotron SAPE_divFormLayout">
			 	<h3>Novo Aluno</h3>
				 	<form th:action="@{/PCLei/addAluno}" method="post" >
					  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    			<input class="mdl-textfield__input" type="text" id="nome" name="nome"></input>
		    			<label class="mdl-textfield__label" for="nome">Nome:</label>
		    		  </div>
		    		   <input type="hidden" id="idEscola"  name="idEscola" th:value="${session.idEscola}"></input>
		  			    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" title="Adicionar"></input>			    	
					</form> 	
				</div>
		    		 
        	</div>
    			
	    </div>
	  </main>
	</div>
	
    <script type="text/javascript" th:src="@{/js/sapePCLei.js}"></script>
     <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</body>
</html>